
body{
  background: #ffffff;
  font-size:0.24rem
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  outline: none;
}
html,body{
  height: 100%;
  overflow: hidden;
}
//小弹框

//大弹框
.pop{
  &.popBox{
    width: 512px;
    height: 459px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -230px;
    margin-left: -256px;
    background: url("../popImg/popBg.png") no-repeat center center;
  }
  &.loginPop{
    width: 512px;
    height: 289px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -145px;
    margin-left: -256px;
    background: url("../popImg/loginTip.png") no-repeat center center;


  }
  .con{
    padding: 25px 30px;
    .close{
      text-align: right;
      i{
        cursor: pointer;
        display: inline-block;
        width: 23px;
        height: 24px;
        background: url("../popImg/close.png") no-repeat center center;
      }

    }
    .title{
      text-align: center;
      font-size: 28px;
      font-family: "Kaiti TC";
    }
    .name{
      font: 20px "Kaiti TC";
      text-align: center;
      margin: 20px auto;
      span{
        color: #ff9000;
      }
    }
    .form{
      font-size: 14px;
      margin-top: 34px;
      >div{
        margin-bottom: 20px;
        lable{
          display: inline-block;
          width: 100px;
          text-align: right;
          padding-right: 10px;
        }
        input{
          width: 325px;
          height: 35px;
          padding: 5px 10px;
          border: 1px solid #d8d8d8;
          border-radius: 3px;
        }
      }
    }
    .btn{
      cursor: pointer;
      width: 132px;
      height: 43px;
      margin: 30px auto;
      background: url("../popImg/checkBtn.png") no-repeat center center;
      background-size: cover;
    }
  }
}
