body {
  background: #f40;
  font-size: 0.24rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  max-height: 13.34rem;
  overflow: hidden;
  background-color: #000; }

div.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%); }
  div.page.page0 {
    background: #ffffff url("../images/bg1.png");
    -webkit-transform: none;
    background-size: auto 13.34rem;
    padding: 0 0.3rem; }
    div.page.page0 .scroll {
      width: 6.9rem;
      height: 5.7rem;
      background: rgba(0, 0, 0, 0.3);
      margin: 6.7rem auto 0;
      overflow: hidden;
      position: relative; }
      div.page.page0 .scroll .con {
        background: wheat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 6.9rem; }
    div.page.page0 .btn {
      height: 0.83rem;
      background: url("../images/btn.png") no-repeat center center;
      background-size: auto 100%;
      margin: 0.05rem; }
  div.page.page1 {
    background: #ffffff url("../images/bg2.png");
    background-size: auto 13.34rem;
    padding: 0 0.3rem; }
    div.page.page1 .prize {
      height: 0.7rem;
      line-height: 0.7rem;
      background: rgba(0, 0, 0, 0.3);
      margin-top: 0.6rem;
      padding: 0 0.16rem 0 0.4rem;
      color: #000000; }
    div.page.page1 .title {
      height: 0.52rem;
      margin-top: 0.44rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      div.page.page1 .title .time {
        width: 5.04rem;
        height: 0.26rem;
        background: url("../images/time.png") no-repeat center center;
        background-size: 5.04rem 0.26rem;
        margin: 0 0.3rem 0 0.1rem; }
      div.page.page1 .title .share {
        width: 1.39rem;
        height: 0.52rem;
        background: url("../images/share.png") no-repeat center center;
        background-size: 1.39rem 0.52rem;
        margin-right: 0.08rem; }
    div.page.page1 .islands {
      display: flex;
      flex-direction: column; }
      div.page.page1 .islands > div {
        width: 2.4rem;
        height: 2.2rem;
        background: rgba(0, 0, 0, 0.3);
        margin-top: 0.68rem; }
        div.page.page1 .islands > div.land1 {
          align-self: flex-start; }
        div.page.page1 .islands > div.land2 {
          align-self: flex-end; }
        div.page.page1 .islands > div.land3 {
          margin-top: 1rem; }
    div.page.page1 .botBtn {
      height: 0.63rem;
      display: flex;
      justify-content: space-between;
      margin-top: 1.27rem; }
      div.page.page1 .botBtn > div {
        width: 1.68rem;
        height: 0.63rem;
        background: url("../images/bottomBtn.png") no-repeat 0 0;
        background-size: cover; }
        div.page.page1 .botBtn > div:nth-child(2) {
          background-position: -2.58rem; }
        div.page.page1 .botBtn > div:nth-child(3) {
          background-position: -5.20rem; }

.popRule {
  width: 6.45rem;
  height: 10.32rem;
  background: url("../images/ruleBg.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .popRule .close {
    width: 100%;
    height: 0.24rem;
    text-align: right;
    padding: 0.31rem; }
    .popRule .close i {
      display: inline-block;
      width: 0.46rem;
      height: 0.48rem;
      background: url("../images/close.png") no-repeat center center;
      background-size: cover; }
  .popRule .btn {
    width: 1.7rem;
    height: 0.6rem;
    margin: 0 auto;
    background: url("../images/checkBtn.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%); }
  .popRule.sec {
    background-image: url("../images/sPopBg.png"); }
  .popRule .con {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-top: 1rem; }
    .popRule .con .item {
      width: 1.2rem;
      margin: 0 0.3rem 0.3rem 0.3rem; }
      .popRule .con .item .img {
        width: 1rem;
        height: 1rem;
        overflow: hidden;
        margin: 0 auto; }
        .popRule .con .item .img img {
          width: 1rem;
          height: 1rem;
          border-radius: 50%; }
      .popRule .con .item p {
        text-align: center;
        padding: 0.2rem 0;
        font-size: 0.2rem;
        font-family: "Microsoft Sans Serif";
        color: #333333; }
